* {
    margin: 0;
 
    font-family: 'Poppins', sans-serif;
    padding: 0;
}
#banner {
    background: linear-gradient(rgba(0,0,0,0.5),#009688) ,url(media/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.logo img {
    width: 140px;
    position: absolute;
    left: 10%;
    top: 4%;
}
.text-banner {
    padding-top: 180px;
    text-align: center;
    color: #fff;
}
.text-banner h1 {
    font-size: 130px;  
    font-family: 'Kaushan Script', cursive 
}
.text-banner p {
    font-size: 20px;
    font-style: italic;
}
.btn-banner {
    text-align: center;
    margin-top: 70px;
}
.btn-banner a {
    text-decoration: none;
    border: .5px solid #fff;
    color: #fff;
    width: 150px;
    display: inline-block;
    font-size: 14px;
    padding: 12px 0;
    margin: 0px 10px;
    position: relative;
    z-index: 1;
    transition: color .5s;
}
.btn-banner a span { 
    background: #fff;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    transition: .5s;
}
.btn-banner a:hover span {
    width: 100%;
    color: black;

}
.btn-banner a:hover {
    color: black;
}
#menu {
    position: fixed;
    width: 250px;
    background: #009688;
    z-index: 2;
    height: 100vh;
    top: 0px;
    right: -250px;
    transition: .5s;
}

nav ul li  {
    margin: 50px 20px;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}
#butonMeniu {
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    border-radius: 3px;
    top: 20px;
    z-index: 3;
    cursor: pointer;
}
#butonMeniu img {
   width: 20px;
   margin-top: 15px;
}
@media  screen and (max-width: 770px) {

    .text-banner h1 {
        font-size: 44px;  
        
    }
    .btn-banner a  {
        display: block;
        margin: 20px auto;
    }
}
#features {
    width: 100%;
    padding: 70px 0;
}
.text-features {
    text-align: center;
    padding-bottom: 70px;
}
.text-features p {
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.text-features h1 {
    font-size: 50px;
}

.text-features p::after {
    content: '';
    width: 50px;
    height: 35px;
    position: absolute;
    left: 0;
    top: -20px;
    background: linear-gradient(#019587,#fff);
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.continut-box {
    width: 80%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.box-left {
    flex-basis: 50%;
}
.box-right {
    flex-basis: 50%;
    margin: auto;
}
.box-right img {
    width: 70%;
    border-radius: 10px;
}
.continut-box h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}
.descriere {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.icon-feature .fas  {
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #009688;
    line-height: 50px;
    border-radius: 8px;
    border: 1px solid #009688;
}
.icon-feature .far {
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #009688;
    line-height: 50px;
    border-radius: 8px;
    border: 1px solid #009688;
}
.text-feature {
    text-align: initial;
    padding: 0 20px;
}
@media  screen and (max-width: 770px) {
    .text-features h1 {
        font-size: 35px;
    }
    .box-left {
        flex-basis: 100%;
    } 
    .box-right {
        flex-basis: 100%;
    }
    .box-right img {
        width: 100%;
    }
}

#services {
    width: 100%;
    padding: 70px 0px;
    background: #efefef;
}
.text-services {
    text-align: center;
    padding-bottom: 70px;
}
.text-services p {
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.text-services h1 {
    font-size: 50px;
}

.text-services p::after {
    content: '';
    width: 50px;
    height: 35px;
    position: absolute;
    left: 0;
    top: -20px;
    background: linear-gradient(#019587,#fff);
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.services-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.single-services {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.single-services img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;
}
.single-services:hover .overlay {
    opacity: 1;
}
.overlay-descriere {
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 1s;
    cursor: pointer;
}
.single-services:hover .overlay-descriere {
    opacity: 1;
    bottom: 40%;
}
hr {
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.overlay-descriere p {
    font-size: 14px;
}

@media  screen and (max-width: 770px) {
    .text-services h1 {
        font-size: 35px;
    }
    .single-services {
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .overlay-descriere p {
        font-size: 12px;
    }
    hr {
        margin: 5px auto;
    }
    .single-services:hover .overlay-descriere {
        opacity: 1;
        bottom: 25% !important;
    }
}
#testimonial {
    width: 100%;
    padding: 70px 0px;
    background: #ffffff;
}
.text-testimonial {
    text-align: center;
    padding-bottom: 70px;
}
.text-testimonial p {
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.text-testimonial h1 {
    font-size: 50px;
}

.text-testimonial p::after {
    content: '';
    width: 50px;
    height: 35px;
    position: absolute;
    left: 0;
    top: -20px;
    background: linear-gradient(#019587,#fff);
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.testimonial-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.col-testimonial {
   flex-basis: 28%;
   padding: 10px;
   margin-bottom: 30px;
   border-radius: 5px;
   box-shadow: 0 10px 20px 3px #00968814;
   cursor: pointer;
   transition: transform .5s    ;
}
.col-testimonial p {
    font-size: 14px;
}
.user {
    display: flex;
    margin: 20px 0;
    align-items: center;
}
.user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info .fab {
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}
.user-info small {
    color: #009688;
}
.col-testimonial:hover {
    transform: translateY(-10px);
}
@media  screen and (max-width: 770px) {
    .text-testimonial h1 {
        font-size: 35px;
    }
    .col-testimonial {
        flex-basis: 100%;
    }
}


#footer {
    width: 100%;
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
   
}
.text-footer {
    text-align: center;
    padding-bottom: 70px;
}
.text-footer p {
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.text-footer h1 {
    font-size: 50px;
}

.text-footer p::after {
    content: '';
    width: 50px;
    height: 35px;
    position: absolute;
    left: 0;
    top: -20px;
    background: linear-gradient(#019587,#fff);
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.footer-row {
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-col-left , .footer-col-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-col-right {
    text-align: right;
}
.footer-col-left .far {
    margin-right: 10px;
    color: #009688;
    font-weight: 500;
    margin-top: 15px;
    font-size: 20px;
}
.footer-col-left h1 {
    margin-bottom: 10px;
}
.footer-col-right .fas {
    margin-left: 10px;
    color: #009688;
    font-size: 20px;
    margin-top: 15px;
}
.footer-col-right h1 {
    margin-bottom: 10px;
}
.img-footer {
    position: absolute;
    max-width: 370px;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
    opacity: 0.1;
}
.social-link {
    text-align: center;
    margin-top: 20px;
}
.social-link .fab {
    font-size: 20px;
    border: 1px solid #009688;
    color: #009688;
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin: 40px 5px 0;
    cursor: pointer;
    transition: transform .5s;
}
.social-link .fab:hover {
    background: #009688;
    color: #fff;
    transform: translateY(-7px);
}
@media  screen and (max-width: 770px) {
    .text-footer h1  {
        font-size: 35px;
    }
    .footer-col-left , .footer-col-right {
        flex-basis: 100%;
        font-size: 14px;
    }
    .img-footer {
        top: 25%;
    }
}